body{
    margin: 0;
    background-color: rgb(235, 233, 233);
}
.grey{
    color: grey;
}
 .bar{
    color: rgb(6, 180, 93);
 }
 a{
    text-decoration: none;
 }
 a:hover{
    background-color: grey;
    color: black;
 }
 .section{
   margin-left: 330px;
   margin-top: -1ch;
 
 }
 .one{
    margin-left: 330px;
   margin-top: -50ch;
 }
 .black{
    background-color: black;
    color: white;
 }
 .white{
    background-color: white;
    color: black;
    border-color: white;
 }
 .section :hover{
    background-color: gray;
    border-color: gray;
 }
 .sidebar{
    background-color: white;
    width: 300px;
    height: 1000px;
 }
 .row{
   display: flex;
 }
 .opacity{
   margin-left:330px;
 }
 .hover{
   margin-left: 85px;
 }
 .four{
   margin-left: 330px;
 }
 .five{
   margin-left: 85px;
 }
 .dark-grey{
   background-color: rgb(83, 83, 83);
   color: white;
   text-align: center;
   height: 30px;
 }
 .button{
   color: white;
   background-color: grey;
   border-color: grey;
 }
 .row2{
   display: flex;
   list-style: none;
   font-size: large;
   margin-left: 50px;
   padding: 2px;
 }
 .light-gray{
   background-color: gray;
   color: white;
   height: 40px;
   width: 250px;
   text-align: center;
 }
 .border{
   list-style: none;
   margin-left: 100px;
 }
 .padding{
  background-color: rgb(58, 198, 233);
  color: white;
  height: 40px;
  width: 250px;
  text-align: center;
 }
 .teal{
  background-color: rgb(85,198,233);
  color: white;
  border-color: rgb(85,198,233);
  text-align: center;
 }
 .sixth{
  text-align: center;
 }
 